<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/support.css">
  </head>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">MawDo</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="bill.html">Bill Pay</a></li>
        <li><a href="support.html">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id ="admin"><a href="admin.html" id ="admin1"><span class="glyphicon glyphicon-user"></span> ADMIN</a></li>
        <li id ="signup"><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li id="login"><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li id="Logout"><a href="logout.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
  <body>
    <div id='chat'>
      <p id="chatentry" class="chatentry"></p>
  </div>
  <input type="text" name="chat" id="inputfield" placeholder="Hi there! Watson Up?" >

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/support.js"></script>
  </body>
</html>
